* {
    box-sizing: border-box;
}

body {
    background: #f5f5fa;
}

body, p, span, h1, h2, h3, h4, h5, h6, tspan {
    font-family: 'Source Sans Pro', sans-serif;
}

body, p, span, h1, h2, h3, h4, h5, h6 {
    color: #666666;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 23px;
    font-weight: 600;
}

.text-light {
    color: #B6B6B6!important;
}

/* Card Component */
.card {
    border-radius: 8px;
    border: none;
    padding: 48px;
    box-shadow: 0 2px 48px #E3E5ED;
}

.card p {
    color: #43425D;
}

.card-light {
    background: #fff;
}

.card-light .card--title, .text-primary {
    color: #1875F0;
}

.card--title {
    margin-bottom: 4px;
}

.card--subtitle {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* END CARD COMPONENT */

.donut-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.donut-card .chart {
    margin-left: -21px;
}

.donut-card .card--subtitle {
    margin-bottom: 2rem;
}

.donut-card section {
    width: 47%;
    position: relative;
}

.donut-card .chart {
    width: 170px;
    height: 170px;
}

.donut-card p {
    font-weight: 700;
    margin-bottom: 10px;
}

.donut-card .legend {
    width: 50%;
}

.donut-card .chart--content {
    display: flex;
}

p.donut-total {
    margin-bottom: 0;
}

.archive-legend {
    padding-right: 1.4rem;
    margin-bottom: 0.6rem;
}

.archive-legend div {
    display: flex;
    justify-content: space-between;
}

/* LEGEND SETTINGS */

.legend p {
    color: #43425D;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.legend .text-light {
    font-weight: 400;
}

.legend--topic .icon-circle {
    margin-right: 10px;
}

.icon-circle {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    border: solid 3px #000;
    display: inline-block;
}

.legend--normal {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.legend--normal div {
    margin-left: 2.4rem;
}

/*
    Join Left Component
*/

.chart--bordless line,
.chart--bordless .domain {
    stroke: none;
}

.join-left {
    border-bottom: solid 2px #D9D9D9;
    padding-bottom: 2rem;
    margin-bottom: 2.6rem;
}

#join-chart {
    height: 220px;
}

#buy-sell-chart {
    height: 230px;
}

#buy-sell-chart path {
    stroke-width: 2px;
}

.bb-axis-y {
    transform: translateX(-16px)
}

.bb-tooltip th {
    background: transparent;
    color: #1875F0;
}

.bb-tooltip {
    border-radius: 3px;
    box-shadow: 0 1px 5px 0 rgba(41, 101, 219, 0.22), 0 0 0 1px rgba(41, 101, 219, 0.22);
}

.bb-tooltip tbody {
    margin: .4rem;
    display: block;
}

.bb-tooltip, 
.bb-tooltip * {
    border: none!important;
}

.tick tspan {
    fill: #C6C5CE;
}

#providers-chart {
    height: 500px;
}

.align-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.line {
    height: 100px;
    border-left: 1px solid #f4f4f6;
    margin-left: 110px;
    margin-right: 45px;
}

.line-60{
    height: 60px;
}

.text-pp {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: -8px;
    font-weight: 600;
    font-size: 17px;
}

.colun {
    display: flex;
    flex-direction: column;
}

.moeda {
    font-size: 30px;
    font-weight: 700;
    color: #4d4e5d;
}

.relative{
    position: relative;
}

.ball {
    position: absolute;
    top: -33px;
    right: -30px;
    width: 13px;
    height: 13px;
    border: 3px solid #b6b7b6;
    border-radius: 100%;
    background: transparent;
}

.downArrow {
    position: absolute;
    bottom: 12px;
    left: -15px;
}

.just-content {
    display: flex;
    justify-content: space-between;
    flex-direction: unset;
    flex-wrap: wrap;
}

.bg-tt-vendas {
    height: 270px;
    overflow: hidden;
    background: #1a68ea;
}

.color-FFF {
    color: #ffffff;
}

.bg-tt-vendas .ball {
    border-color: #ffffff;
    top: 20px;
    right: 20px;
}

.total-title {
    display: flex;
    justify-content: flex-end;
    color: #083f99;
    font-size: 25px;
    font-weight: 700;
}

.total-price {
    margin-top: -18px;
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
}

.gp-mascara {
    position: absolute;
    top: 3px;
    left: 0;
}

.color-fj {
    color: #0a44a4!important;
}

.justify-content {
    display: flex;
    justify-content: space-between;
}

.font18 {
    font-size: 18px;
}

.font8{    
    font-size: 10px;
}

.icon-empresa {
    margin-bottom: 5px;
}

.margin-top0{
    margin-top: 0px;
}

.ball-color {
    border-color: #3da8ff;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.dt-relatorio {
    font-size: 18px;
    font-weight: 700;
}

.icnn-relatorio-dt {
    height: 19px;
    margin-right: 3px;
    margin-top: 3px;
}

.zenit {
    font-size: 15px;
    font-weight: 500;
}

.aling-itens {
    display: flex;
    align-items: center;
}

.dashboard {
    font-size: 30px;
    font-weight: 900;
    color: #cbccce;
}

.position-header {
    position: absolute;
    height: 100%;
    width: 180px;
}

.sieg {
    margin-top: 1rem;
    height: 40px;
}

.sales {
    justify-content: flex-end;
    width: 100%;
    display: flex;
    margin-top: 1rem;
}

.sales .line {
    border-color: #2a60bb;
}

.icon-header {
    
}